body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
}

.quote {
  font-size: 24px;
}

.generate__btn {
  display: flex;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 20px;

  background-color: #1E90FF;
  color: white;

  border: none;
  border-radius: 10px;
}

.generate__btn:hover {
  background-color: #3887d6;
}

.buttons {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like__btn {
  padding: 10px 10px;
}

.deleteLike__btn {
  padding: 10px 10px;
}

.likes {
  margin-top: 10px;
  padding: 10px 40px;
  gap: 10px;
}

#favoriteQuote {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Отступ между карточками */
  padding: 20px;
}

/* Карточка для лайкнутой цитаты */
.favorite-card {
  display: flex;
  align-items: center;
  text-align: center; /* Центрируем текст внутри карточки */
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  width: 70%; /* Растягиваем карточку на всю доступную ширину */
  max-width: 500px;  /*Ограничиваем ширину */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для карточки */
}

/* Текст внутри карточки */
.favorite-card p {
  margin: 0;
  font-size: 16px;
}

.favorite-card em {
  font-weight: bold;
}
